In [60]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [61]:
df=pd.read_csv(r"C:\Users\aksha\Downloads\archive (19)\WA_Fn-UseC_-HR-Employee-Attrition.csv")

In [62]:
df

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1465,36,No,Travel_Frequently,884,Research & Development,23,2,Medical,1,2061,...,3,80,1,17,3,3,5,2,0,3
1466,39,No,Travel_Rarely,613,Research & Development,6,1,Medical,1,2062,...,1,80,1,9,5,3,7,7,1,7
1467,27,No,Travel_Rarely,155,Research & Development,4,3,Life Sciences,1,2064,...,2,80,1,6,0,3,6,2,0,3
1468,49,No,Travel_Frequently,1023,Sales,2,3,Medical,1,2065,...,4,80,0,17,3,2,9,6,0,8
1469,34,No,Travel_Rarely,628,Research & Development,8,3,Medical,1,2068,...,1,80,0,6,3,4,4,3,1,2

In [63]:
df.isnull().sum()

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [64]:

df1= ['Age','Education','JobRole', 'MonthlyIncome', 'DistanceFromHome', 'JobSatisfaction','OverTime', 'YearsAtCompany','Attrition']
df= df[df1]

In [65]:
df

,Age,Education,JobRole,MonthlyIncome,DistanceFromHome,JobSatisfaction,OverTime,YearsAtCompany,Attrition
0,41,2,Sales Executive,5993,1,4,Yes,6,Yes
1,49,1,Research Scientist,5130,8,2,No,10,No
2,37,2,Laboratory Technician,2090,2,3,Yes,0,Yes
3,33,4,Research Scientist,2909,3,3,Yes,8,No
4,27,1,Laboratory Technician,3468,2,2,No,2,No
...,...,...,...,...,...,...,...,...,...
1465,36,2,Laboratory Technician,2571,23,4,No,5,No
1466,39,1,Healthcare Representative,9991,6,1,No,7,No
1467,27,3,Manufacturing Director,6142,4,2,Yes,6,No
1468,49,3,Sales Executive,5390,2,2,No,9,No
1469,34,3,Laboratory Technician,4404,8,3,No,4,No

In [66]:
# outliear deteaction
Q1=df["MonthlyIncome"].quantile(0.25)
Q3=df["MonthlyIncome"].quantile(0.75)
IQR=Q3-Q1
IQR

np.float64(5468.0)

In [67]:
Filterd_df=df[(df["MonthlyIncome"]>=Q1-1.5*IQR) & (df["MonthlyIncome"]<=Q3+1.5*IQR)]
Filterd_df

,Age,Education,JobRole,MonthlyIncome,DistanceFromHome,JobSatisfaction,OverTime,YearsAtCompany,Attrition
0,41,2,Sales Executive,5993,1,4,Yes,6,Yes
1,49,1,Research Scientist,5130,8,2,No,10,No
2,37,2,Laboratory Technician,2090,2,3,Yes,0,Yes
3,33,4,Research Scientist,2909,3,3,Yes,8,No
4,27,1,Laboratory Technician,3468,2,2,No,2,No
...,...,...,...,...,...,...,...,...,...
1465,36,2,Laboratory Technician,2571,23,4,No,5,No
1466,39,1,Healthcare Representative,9991,6,1,No,7,No
1467,27,3,Manufacturing Director,6142,4,2,Yes,6,No
1468,49,3,Sales Executive,5390,2,2,No,9,No
1469,34,3,Laboratory Technician,4404,8,3,No,4,No

In [68]:
# label encode
le=LabelEncoder()
Filterd_df["OverTime"]=le.fit_transform(Filterd_df["OverTime"])

C:\Users\aksha\AppData\Local\Temp\ipykernel_420\154320801.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filterd_df["OverTime"]=le.fit_transform(Filterd_df["OverTime"])

In [69]:
le=LabelEncoder()
Filterd_df["Attrition"]=le.fit_transform(Filterd_df["Attrition"])

C:\Users\aksha\AppData\Local\Temp\ipykernel_420\537600092.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Filterd_df["Attrition"]=le.fit_transform(Filterd_df["Attrition"])

In [70]:
Filterd_df

,Age,Education,JobRole,MonthlyIncome,DistanceFromHome,JobSatisfaction,OverTime,YearsAtCompany,Attrition
0,41,2,Sales Executive,5993,1,4,1,6,1
1,49,1,Research Scientist,5130,8,2,0,10,0
2,37,2,Laboratory Technician,2090,2,3,1,0,1
3,33,4,Research Scientist,2909,3,3,1,8,0
4,27,1,Laboratory Technician,3468,2,2,0,2,0
...,...,...,...,...,...,...,...,...,...
1465,36,2,Laboratory Technician,2571,23,4,0,5,0
1466,39,1,Healthcare Representative,9991,6,1,0,7,0
1467,27,3,Manufacturing Director,6142,4,2,1,6,0
1468,49,3,Sales Executive,5390,2,2,0,9,0
1469,34,3,Laboratory Technician,4404,8,3,0,4,0

In [71]:
# define features and target
X=Filterd_df[["Age","Education","MonthlyIncome","DistanceFromHome","JobSatisfaction","OverTime","YearsAtCompany"]]
y=Filterd_df["Attrition"]

In [72]:
# split data
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [73]:
# train the model
model=LogisticRegression()
model.fit(X_train,y_train)

C:\Users\aksha\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\linear_model\_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [74]:
# predict and evaluate
y_pred=model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0])

In [75]:
# evaluation(accuracy test)
accuracy=accuracy_score(y_test,y_pred)
print(accuracy)

0.8419117647058824

In [76]:
# recall
from sklearn.metrics import recall_score

In [77]:
recall = recall_score(y_test, y_pred)

In [78]:
print(recall)

0.047619047619047616

In [79]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.85      0.99      0.91       230
           1       0.40      0.05      0.09        42

    accuracy                           0.84       272
   macro avg       0.63      0.52      0.50       272
weighted avg       0.78      0.84      0.79       272